<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Monetivo_Payment>
            <version>1.0.0</version>
            <depends>
                <Mage_Payment/>
            </depends>
        </Monetivo_Payment>
    </modules>
    <global>
        <models>
            <monetivo_payment>
                <class>Monetivo_Payment_Model</class>
            </monetivo_payment>
        </models>
        <helpers>
            <monetivo_payment>
                <class>Monetivo_Payment_Helper</class>
            </monetivo_payment>
        </helpers>
        <blocks>
            <monetivo_payment>
                <class>Monetivo_Payment_Block</class>
            </monetivo_payment>
        </blocks>
    </global>
    <frontend>
        <routers>
            <monetivo_payment>
                <use>standard</use>
                <args>
                    <module>Monetivo_Payment</module>
                    <frontName>monetivo_payment</frontName>
                </args>
            </monetivo_payment>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <monetivo_payment>
                    <file>monetivo.xml</file>
                </monetivo_payment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <monetivo_payment>
                <active>0</active>
                <title>Monetivo</title>
                <model>monetivo_payment/payment</model>
            </monetivo_payment>
        </payment>
    </default>
</config>